APP_NAME=Меркурий
APP_ENV=local
APP_KEY=base64:0ETkS+YGsy8ljRe9rFkK90xbi84aT2FsiHZDkeN3GJ8=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=iihr
DB_USERNAME=laravel
DB_PASSWORD=laravel

BROADCAST_DRIVER=log
CACHE_DRIVER=array
QUEUE_CONNECTION=database
SESSION_DRIVER=cookie
SESSION_LIFETIME=2592000

